@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("roboto.woff2") format("woff2"),
      url("roboto.woff") format("woff");
}
@font-face {
  font-family: "PT Sans"; /* указали насыщенность прямо в семействе */
  font-weight: 700;
  font-style: normal;
  src: url("robotobold.woff2") format("woff2"),
      url("robotobold.woff") format("woff");
}

/* Главная */

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: black;
  background-color: #f2f2f2;
}

.page_container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Шапка */

.nav_main {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.user_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button_link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: white;
  text-decoration: none;
}

.user_item_like {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background: #7DB54F;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* Лид */

.lead {
  min-height: 485px;
  background-image: url(../images/Vector.svg),
  url(../images/background_img.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 1200px 57px, cover;
  padding-top: 52px;
  padding-bottom: 81px;
  box-sizing: border-box;
}

.lead_description_image {
  display: block;
  margin: 0 auto;
}

/* Причины */

.info_section {
  width: 1200px;
  padding-bottom: 21px;
}

.about_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding-top: 69px;
}

.reasons_list {
  list-style: none;
}

.reasons_item:first-child {
  background-color:#82B3D3;
  color: #ffffff;
}
.reasons_item:last-child {
  background-color:#82B3D3;
  color: #ffffff;
}

.reasons_item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.reasons_item:nth-child(even) .advantages-item-description {
  color: #333333;
}

.reasons_item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.reasons_item:nth-child(3) .advantages-item-description {
  color: #333333;
}

.reasons_item_title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.reasons_item_description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.reasons_titile {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 69px;
}

/* Услуги */
.service_list {
  list-style: none;
}

.service_icon_1 {
  background-image: url(../images/house.svg);
  width: 75px;
  height: 72px;
}

.service_icon_2 {
  background-image: url(../images/burger.svg);
  width: 74px;
  height: 70px;
}

.service_icon_3 {
  background-image: url(../images/gift.svg);
  width: 64px;
  height: 76px;
}

.service_item_title {
  margin: 0;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
padding-bottom: 30px;
}

.service_item_description {
  margin: 0;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}

/* Поиск гостиницы */

.search_section_title {
  margin: 0;
  font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
padding-top: 96px;
}

.search_section_description {
  margin: 0;
  font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
padding-top: 20px;
}

.search_button {
  margin: 0 auto;
  font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
background-color:#756157;
color: white;
border-radius: 4px;
padding: 8px 50px;
}

/* Форма */

.form {
  background-image: url(../images/mountain.jpg);
  background-color: #422110;
  color: #ffffff;
  box-sizing: border-box;
  min-height: 415px;
  padding-top: 96px;
  padding-bottom: 104px;
  background-repeat: no-repeat;
  background-size: cover;
}

.from_title {
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 96px;
  width: 540px;
}

.from_description {
  margin: 0;
  font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
padding-top: 20px;
}

.form_email {
  box-sizing: border-box;
  width: 452px;
  padding: 14px 345px 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.form_button {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

/* Контакты */

.footer_contacts {
  width: 1200px;
height: 120px;
}

.footer_nav {
  list-style: none;
  display: flex;
  gap: 26px;
}

.footer_nav_item_1 {
  background-image: url(../images/vk.svg);
  width: 24px;
  height: 14px;
}
.footer_nav_item_2 {
  background-image: url(../images/telegram.svg);
  width: 18px;
  height: 15.1px;
}
.footer_nav_item_3 {
  background-image: url(../images/youtube.svg);
  width: 22px;
  height: 17px;
}

.contacts_phone {
  font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
color: #000000;
text-decoration: none;
}

/* Модальное окно */

.modal {
  padding: 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal_title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.close_buttom {
  padding: 0;
  font-family: inherit;
  background-color: #f2f2f2;
  border: none;
}

.modal_wrapper {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  
}
